<!-- Include Meta Tags Here -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta content='#000000' name='theme-color'/>
<meta name="keywords" content="doxbin bot, доксинг, доксбин, бот, тг, телеграм, пробив, номер, doxsing, bot, бот для doxing, боты тг для докса, телеграм бот для доксинга, telegram doxing bot, что такое докс, бот для доксинга, доксбин бот, докс бот тг, telegram bot, доксинг бот, доксинг тг бот, doxing bot, discord doxing bot, doxing bot telegram, что такое доксбин, как зайти на доксбин, doxbin, докс по номеру телефона, заказать докс, doxbin.com, doxbin.org, докс заказать, докс бин, докс тг, doxbin.net"/>
<title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>
<meta name="description" content="бот для докса в телеграм позволит получить информацию о любом человеке, так как данные многих доступны в интернете."/>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta http-equiv="content-language" content="ru"/>
<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{site.google-analytics}}"></script>
<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{site.google-analytics}}');
</script>
